.App {
  text-align: center;
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  background-color: rgb(183, 183, 250);
  height: 100px;
}

.city{height: 30px;
  margin-left: 200px; border: none; width: 300px;
}

.buton{margin-left: 50px; height: 30px; border: none; padding-left: 20px;padding-right: 20px;}
